// Dropdown Menu
.dropdown-menu-collapse {
  width: 100vw;
  position: absolute;
  left: 0;
}

// Learner Variant Header
.learner-variant-header {
  a {
    // Ensure links don't resize the header
    border-bottom: 2px solid transparent;
    color: #333;
    text-decoration: none;
    transition: border-color 0.3s ease; 
  }

  .course-link {
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease; 
  }

  .course-link:hover {
    border-bottom-color: #007bff; 
  }
}

// Navigation Small Menu
.nav-small-menu {
  > * {
    justify-content: flex-start !important;
    border-radius: 0 !important;
    border-top: 1px solid #ddd !important;
    padding: 10px; 

    &::after {
      content: '\00BB';
      padding-left: 10px;
    }
  }
}

// Logo
.logo {
  height: 40px; 
}
